* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    height: 5vh;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    height: 95vh;
}

.shopmain {
    padding: 75px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactsmain {
    padding: 25px;
    display: grid;
    
}

.contact {
    min-height: 220px;
    min-width: 190px;
    height: 220px;
    width: 190px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact img {
    padding: 0;
    max-width: 150px;
}

.contact p {
    padding: 0;
}

main p {
    padding: 50px;
}

main img {
    padding: 50px;
    max-width: 15vw;
}

.shop-card {
    background-color: gainsboro;
    min-height: 200px;
    min-width: 200px;
    height: 200px;
    width: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop-card img {
    padding: 0;
    max-width: 150px;
}